@{
    ViewData["Title"] = "Clean & Dirty";
}

<h1>Clean & Dirty</h1>
<h4>A story about controllers</h4>

<div>
    @Html.ActionLink("See the dirty stuff", "Index", "Dirty")
</div>

<div>
    @Html.ActionLink("See the CLEAN stuff", "Index", "Clean")
</div>
